GATSBY_AWS_PROJECT_REGION=eu-central-1
# Console > Cognito > Manage Identity Pools > Select Pool > Sample Code
GATSBY_AWS_COGNITO_IDENTITY_POOL_ID=
GATSBY_AWS_COGNITO_REGION=eu-central-1
# Console > Cognito > Manage User Pools > Select Pool > Pool Id
GATSBY_USER_POOLS_ID=
# Console > Cognito > Manage User Pools > Select Pool > App Client Settings > Scroll to Your Client > ID
GATSBY_USER_POOLS_WEB_CLIENT_ID=
# Console > AppSync > Your API > Settings > API Details > API URL
GATSBY_APPSYNC_GRAPHQLENDPOINT=
GATSBY_APPSYNC_REGION=eu-central-1
GATSBY_APPSYNC_AUTHENTICATION_TYPE=AMAZON_COGNITO_USER_POOLS
# Add other variables, use the GATSBY_ prefix here
# GATSBY_